# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Client/.vs/Client/FileContentIndex/0e00818d-eb7e-4548-aaf7-009737654d29.vsidx
Client/.vs/Client/FileContentIndex/2cd8dac7-3ae6-4b5a-8ad0-3188db199860.vsidx
Client/.vs/Client/FileContentIndex/9cdad447-dde0-49e2-b05e-b2692b872352.vsidx
Client/.vs/Client/FileContentIndex/e6e5203a-2697-4241-b8cf-be4ce00a5cc0.vsidx
Client/.vs/Client/FileContentIndex/read.lock
Client/.vs/Client/v17/.suo
Client/.vs/Client/v17/Browse.VC.db
Client/.vs/Client/v17/Browse.VC.db-shm
Client/.vs/Client/v17/Browse.VC.db-wal
Client/.vs/Client/v17/Browse.VC.opendb
Client/.vs/Client/v17/Solution.VC.db
Client/.vs/Client/v17/Solution.VC.db-shm
Client/.vs/Client/v17/Solution.VC.db-wal
Client/.vs/Client/v17/ipch/2c189fb233ceb0d2.ipch
Client/.vs/Client/v17/ipch/8c786b0db82e4198.ipch
Client/.vs/Client/v17/ipch/aaa0d753002bbb8d.ipch
Client/.vs/Client/v17/ipch/AutoPCH/4e0d4a0f5160471f/PCH.ipch
Client/.vs/Client/v17/ipch/AutoPCH/746c2ee3afa90d38/GAME.ipch
Client/.vs/Client/v17/ipch/AutoPCH/b14d42c81fefca31/CLIENT.ipch
